# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django/Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/
**/migrations/*.py
!*/migrations/__init__.py  # Keep migration folders with __init__.py

# SQLite (if used)
*.sqlite3

# Media and Static (user uploads)
media/
staticfiles/
static/

# Secrets
*.env
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Coverage and testing
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
.tox/

# MyPy and other tooling
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/

# Docker
*.pid

# Build
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Celery
celerybeat-schedule
celerybeat.pid

# Gunicorn
gunicorn.pid
